<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "../linkers/sensors.js"> </script>
    <title>RaspG</title>
</head>
<body style = "background-color: rgb(234, 234, 234);">
    <div class="container p-4">
        <div id="products">
                <div class = "col-xs-4 p-2"> 
                    <div class = "card text-center">
                        <div class = "card-header" style = "background-color: rgb(112, 188, 201); color: white !important;">
                            <h5 class = "card-title">RaspG - Sensores</h5>
                        </div>
                        <div class = "card-body" id = "sensors">
        
                        </div>
                        <div class = "card-footer" style = "background-color: rgb(112, 188, 201); color: white !important;">
                            <div id = time>
                                <script>
                                    var f = new Date();
                                    document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>  
</body>
</html>