<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RaspG</title>
</head>
<body>
    <form class= "p-4">
        <div class="form-group">
            <input type="text" id="name" class="form-control"
            placeholder="Product's name" autofocus>
        </div>
        <div class="form-group">
            <input type="text" id="price" class="form-control"
            placeholder="Price" autofocus>
        </div>
        <div class="form-group">
            <input type="text" id="description" class="form-control"
            placeholder="Description" autofocus>
        </div>
        <button class="btn btn-primary btn-block">
            Save Product
        </button>
    </form>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', event => {
            const nameProduct = document.querySelector('#name').value;
            const priceProduct = document.querySelector('#price').value;
            const descriptionProduct = document.querySelector('#description').value;
            console.log(nameProduct, priceProduct, descriptionProduct);

            event.preventDefault();
        });
    </script>
</body>
</html>